altgraph==0.17.4
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
cryptography==42.0.5
cssselect==1.2.0
distro==1.9.0
et-xmlfile==1.1.0
importlib-metadata==7.1.0
lxml==5.1.0
macholib==1.16.3
numpy==1.26.4
openpyxl==3.1.2
packaging==24.0
pandas==2.2.1
pdfminer==20191125
pdfminer.six==20231228
pdfquery==0.4.3
pycparser==2.21
pycryptodome==3.20.0
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pypdf2==3.0.1
pyquery==2.0.0
python-dateutil==2.9.0.post0
pytz==2024.1
roman==4.1
six==1.16.0
tabula-py==2.9.0
typing-extensions==4.10.0
tzdata==2024.1
XlsxWriter==3.2.0
zipp==3.18.1
